# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

#VS Folders
.vs/
/.vs
.vs
flutter/
/flutter

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

#visualprojectfiles
*.suo
db.lock
storage.ide
.dtbcache.v2

ces
cj_data.txt

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
