<h1>Register</h1>

<form action="/Account/Register" method="post">
    <input type="text" name="username" value=""/> <br />
    <input type="text" name="password" value=""/> <br />
    <input type="submit" value="Register"/>
</form>