<div class="row">
  <div class="col-md-4">
    <select class="form-select" (change)="onCategoryChange($event)">
      <option value="">Select Caterogy</option>
      <option [value]="cat.id" *ngFor="let cat of dCategory$ | async">
        {{cat.title}}
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Declarative Post Data</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody *ngIf="dFilterData$ | async as posts">
        <tr *ngFor="let post of posts">
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.description}}</td>
          <td>{{post.categoryName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
 </div>
