<div class="row">
  <div class="col-md-12">
    <h3>
      Post Details
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="list-group" *ngIf="post$ | async as posts">
      <a href="#"
        class="list-group-item list-group-item-action disabled" aria-current="true">
        List of Catergory
      </a>
      <a href="#"
        (click)="onSelectedPost(post, $event)"
        class="list-group-item list-group-item-action"
        [class]="{active : post.id === (selectedPost$ | async)?.id}"
        *ngFor="let post of posts">
        {{post.title}} | {{post.categoryName}}
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <app-single-post></app-single-post>
  </div>
</div>
