<div class="row" >
  <div class="col-md-12">
    <h3>
      Post Details
    </h3>
    <div class="my-2">
      <button class="btn btn-primary" (click)="onAddPost()">Add Post</button>
    </div>
  </div>
</div>
<div class="row" *ngIf="viewModel$ | async as viewModel">
  <div class="col-md-4">
    <div class="list-group">
      <a href="#"
        class="list-group-item list-group-item-action disabled"
        aria-current="true">
        List of Catergory
      </a>
      <a href="#"
        (click)="onSelectedPost(post, $event)"
        class="list-group-item list-group-item-action"
        [class]="{active : post.id === viewModel.selectedPost.id}"
        *ngFor="let post of viewModel.posts">
        {{post.title}} | {{post.categoryName}}
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <app-single-post *ngIf="!showAddPost"></app-single-post>
    <app-add-post *ngIf="showAddPost"></app-add-post>
  </div>
</div>
