<div class="row text-center bg-danger text-white p-3 mb-2" *ngIf="errorMessageAction$ | async as errorMessage">
  <div class="col-md-12">
    {{errorMessage}}
  </div>
</div>
<div class="row" *ngIf="post$ | async as post">
  <div class="col-md-4">
    <button class="btn btn-warning" (click)="onUpdatePost()">Update Post</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class=" btn btn-danger" (click)="onDeletePost(post)">Delete Post</button>
  </div>
  <div class="col-md-12" *ngIf="!showUpdatePost">
    <h3>Post Details</h3>
    <div>Id : {{post.id}}</div>
    <div>Title : {{post.title}}</div>
    <div>Description : {{post.description}}</div>
    <div>Category Name : {{post.categoryName}}</div>
  </div>
  <app-update-post *ngIf="showUpdatePost"></app-update-post>
</div>
