<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List your property</h3>
      </div>
      <div class="card-body">
        <div class="tab-panel">
          <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
            <tabset  class="member-tabset" #AddPropertyTabSet>
              <tab heading="Basic Info" id="tab1" formGroupName="BasicInfoTab">
                <p>I Want to</p>
                <div class="btn-group" btnRadioGroup  formControlName="SellRent">
                  <label
                    for=""
                    class="btn btn-outline-primary m-1"
                    name="SellRent"
                    btnRadio="1"
                    role="button"
                    >Sell</label
                  ><label
                    for=""
                    class="btn btn-outline-primary m-1"
                    name="SellRent"
                    btnRadio="2"
                    role="button"
                    >Rent</label
                  >
                  <div class="error-block" *ngIf="SellRent.invalid  && nextButtonClicked">
                      Please select the Sell or Rent
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup
                       [(ngModel)]="propertyView.BHK"
                       name="BHK"
                       formControlName="BHK">
                    <label
                      *ngFor="let bhkData of BHKArray"
                      class="btn btn-outline-primary m-1"
                      name="bhkControl"
                      tabindex="0"
                      btnRadio="{{ bhkData }}"
                      role="button"
                    >
                      {{ bhkData }}
                    </label>
                    <div class="error-block" *ngIf="BHK.invalid  && nextButtonClicked">
                      Please select the BHK
                    </div>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup
                       formControlName="PType"
                       name="PType"
                       [(ngModel)]="propertyView.PType">
                    <label
                      *ngFor="let pType of propertyType"
                      class="btn btn-outline-primary m-1"
                      name="propertyType"
                      tabindex="0"
                      btnRadio="{{ pType }}"
                      role="button"
                    >
                      {{ pType }}
                    </label>
                    <div class="error-block" *ngIf="PType.invalid && nextButtonClicked">
                      Please select the Property Type
                    </div>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Furnishing Type</p>
                  <div class="btn-group" btnRadioGroup
                    formControlName="FType"
                    [(ngModel)]="propertyView.FType" name="FType">
                    <label
                      *ngFor="let fType of furnishType"
                      class="btn btn-outline-primary m-1"
                      name="FurnishType"
                      tabindex="0"
                      btnRadio="{{ fType }}"
                      role="button"
                    >
                      {{ fType }}
                    </label>

                    <div class="error-block" *ngIf="FType.invalid && nextButtonClicked">
                      Please select the Furnished Type
                    </div>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="Name">in Building\Society\Project</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Name"
                    required
                    minlength="5"
                    [(ngModel)]="propertyView.Name"
                  />
                  <span
                    *ngIf="Name.invalid && (Name.touched || nextButtonClicked)"
                    class="error-block"
                  >
                 <span *ngIf="Name.errors?.required"
                      >Please provide name</span
                    >
                    <span *ngIf="Name.errors?.minlength"
                      >Name must be atleast 5 characters long</span
                    >
                  </span>
                </div>

                <div class="form-group col-12">
                  <label for="City">City</label>
                  <input type="text" class="form-control"
                    formControlName="City"
                    [(ngModel)]="propertyView.City" name="City"/>
                    <div class="error-block" *ngIf="City.invalid && (City.touched || nextButtonClicked)">
                      Please provide city name
                    </div>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary m-2 float-end"
                    (click)="selectTab(1, BasicInfoTab.valid)"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <tab heading="Pricing and Area"  formGroupName="PriceInfoTab">
                <div class="form-group col-12">
                  <label for="Price" *ngIf="SellRent.value == 1">Price</label>
                  <label for="Price" *ngIf="SellRent.value == 2">Rent</label>
                  <input type="text" formControlName="Price"
                    [(ngModel)]="propertyView.Price"
                    class="form-control" />
                    <div class="error-block" *ngIf="Price.invalid && (Price.touched || nextButtonClicked)">
                       Please select
                       <span *ngIf="SellRent.value==1;else ShowRent">price</span>
                       <ng-template #ShowRent>Rent</ng-template>
                    </div>
                </div>

                <div class="form-group col-12" *ngIf="SellRent.value == 2">
                  <label for="Security">Security Deposit</label
                  ><input
                    type="text"
                    name="SecurityDeposit"
                    formControlName="Security"
                    class="form-control"
                  />
                </div>
                <div class="form-group col-12" *ngIf="SellRent.value == 2">
                  <label for="Maintenance">Maintenances</label
                  ><input
                    type="text"
                    name="Maintenance"
                    formControlName="Maintenance"
                    class="form-control"
                  />
                </div>
                <div class="form-group col-12">
                  <label for="BuiltArea">Built Area in Sq. Feet</label
                  ><input
                    type="text"
                    formControlName="BuiltArea"
                    [(ngModel)]="propertyView.BuiltArea"
                    class="form-control"
                  />
                  <div class="error-block" *ngIf="BuiltArea.invalid  && (BuiltArea.touched || nextButtonClicked)">
                    Please enter the price.
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="CarpetArea">Carpet Area in Sq. Feet</label
                  ><input
                    type="text"
                    name="CarpetArea"
                    formControlName="CarpetArea"
                    class="form-control"
                  />
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary m-2 float-end"
                    (click)="selectTab(2, PriceInfoTab.valid)"
                  >
                    Next
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary float-start"
                    (click)="selectTab(0, PriceInfoTab.valid)"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <tab heading="Address" formGroupName="AddressInfoTab" >
                <div class="form-group col-12">
                  <label for="Floor">Floor</label
                  ><input type="text" name="Floor" formControlName="FloorNo" class="form-control" />
                </div>
                <div class="form-group col-12">
                  <label for="TotalFloor">Total Floor</label
                  ><input
                    type="text"
                    name="TotalFloor"
                    formControlName="TotalFloor"
                    class="form-control"
                  />
                </div>
                <div class="form-group col-12">
                  <label for="Address">Address</label
                  ><input
                    type="text"
                    formControlName="Address"
                    class="form-control"
                  />
                  <div class="error-block" *ngIf="Address.invalid && (Address.touched || nextButtonClicked)">
                    Please provide Address
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="Landmark">LandMark</label
                  ><input
                    type="text"
                    name="Landmark"
                    formControlName="Landmark"
                    class="form-control"
                  />
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary m-2 float-end"
                    (click)="selectTab(3, AddressInfoTab.valid)"
                  >
                    Next
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary float-start"
                    (click)="selectTab(1, AddressInfoTab.valid)"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <tab heading="Other Details"  formGroupName="OtherInfoTab">
                <div class="form-group col-12">
                  <p>Ready To Move</p>
                  <div class="btn-group" btnRadioGroup   formControlName="RTM">
                    <label
                      *ngFor="let ysType of yesNoType"
                      class="btn btn-outline-primary m-1"
                      name="btnRTM"
                      tabindex="0"
                      btnRadio="{{ ysType }}"
                      role="button"
                    >
                      {{ ysType }}
                    </label>
                    <div class="error-block" *ngIf="RTM.invalid && nextButtonClicked">
                      Please select the Ready To Move
                    </div>
                  </div>
                </div>

                <div class="form-group col-3" *ngIf="RTM.value == 'Yes'">
                  <label for="AvaialableDate">Possession/Avaialable From</label>
                  <input
                    type="text"
                    name="AvaialableDate"
                    placeholder="Datepicker"
                    formControlName="Possession"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{
                      containerClass: 'theme-dark-blue',
                      dateInputFormat: 'DD-MM-YYYY'
                    }"
                  />
                </div>
                <div class="form-group col-3" *ngIf="RTM.value == 'No'">
                  <label for="PropertyAge">Age Of Property</label
                  ><input
                    type="text"
                    name="PropertyAge"
                    formControlName="AOP"
                    class="form-control"
                  />
                </div>
                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup formControlName="Gated">
                    <label
                      *ngFor="let ysType of yesNoType"
                      class="btn btn-outline-primary m-1"
                      name="GatedCommunity"
                      tabindex="0"
                      btnRadio="{{ ysType }}"
                      role="button"
                    >
                      {{ ysType }}
                    </label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Main Entrances</p>
                  <div class="btn-group" btnRadioGroup formControlName="MainEntrance">
                    <label
                      *ngFor="let meType of mainEntranceArray"
                      class="btn btn-outline-primary m-1"
                      name="MainEntrances"
                      tabindex="0"
                      btnRadio="{{ meType }}"
                      role="button"
                    >
                      {{ meType }}
                    </label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="Description">Description</label>
                  <textarea
                    type="text"
                    formControlName="Description"
                    class="form-control"
                    rows="6"
                    name="Description"
                  ></textarea>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary m-2 float-end"
                    (click)="selectTab(4, OtherInfoTab.valid)"
                  >
                    Next
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary float-start"
                    (click)="selectTab(2, OtherInfoTab.valid)"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <tab heading="Photos"  >
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br />
                    This is under contruction
                  </div>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary float-start"
                    (click)="selectTab(3, true)"
                  >
                    Back
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary ms-5 float-end"
                  >
                    Save
                  </button>
                  <button type="reset" class="btn btn-primary float-end">
                    Cancel
                  </button>
                </div>
              </tab>

            </tabset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h3>Your Property Preview</h3>
      </div>
      <div class="card-body shadow-lg p-3 bg-white">
        <app-property-card [property]="propertyView" [hideIcon]="true"></app-property-card>
      </div>
    </div>
  </div>
</div>
