<div class="row">
    <div class="col-6 m-auto">
      <div class="card m-auto">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">          
            <div class="form-group col-12">
              <label for="Name" class="form-label">Name</label>
              <input type="text" name="" class="form-control" formControlName="userName" />
              <span class="error-block" *ngIf="!userName.valid && userName.touched">
                  Please provide Name
              </span>
            </div>           
            <div class="form-group col-12">
              <label for="Password" class="form-label">Password</label>
              <input type="password" name="" class="form-control" formControlName="password"/>
              <span class="error-block" *ngIf="!password.valid && password.touched">
                <span *ngIf="password?.hasError('required')">
                  Please provide password.
                </span>   
              </span>
            </div>
            
            <div class="form-group col-12">
              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary m-2">Login</button>
              <button type="reset" class="btn btn-primary">Cancel</button>
            </div>
            Form Value : {{loginForm.value | json}} <br/>
            Form Status : {{loginForm.valid }}
          </form>
        </div>
      </div>
    </div>
  </div>